{% extends 'partials/base.html' %}{%block body %}
<div class="login-container">
  <h1 class="login-header">Login</h1>
  <div class="login-wrapper">
    <form action="" method="post">
      {% csrf_token%}
      <div class="form-control">
        <input
          type="text"
          name="username"
          placeholder="Enter your email address"
        />
      </div>
      <div class="form-control">
        <input
          type="password"
          name="password"
          placeholder="Enter your password"
        />
      </div>
      <div class="form-control">
        <button class="login-btn">Login</button>
      </div>
    </form>
  </div>
</div>
{%endblock body %}
