{% extends 'partials/base.html' %} {%block body %}

<div class="container-form">
  <h1>Sign Up</h1>
  <div class="form-box">
    <form action="" method="post">
      {% csrf_token%}
      <div class="form-group">
        <div class="form-control">
          <div class="input-field">{{form.first_name }}</div>
          <div class="input-field">{{form.last_name}}</div>
        </div>

        <div class="form-control">
          <div class="input-field">{{form.username}}</div>
          <div class="input-field">{{form.email}}</div>
        </div>

        <div class="form-control">
          <div class="input-field">{{form.password1}}</div>
          <div class="input-field">{{form.password2}}</div>
        </div>
        <div class="form-control">
          <div class="input-field">{{form.city}}</div>
          <div class="input-field">{{form.country}}</div>
        </div>
        <div class="form-control">
          <div class="input-field">{{form.dob}}</div>
          <div class="input-field">{{form.address}}</div>
        </div>
        <div class="input-field">
          <button class="btn">Register</button>
        </div>
        <div class="form-control">
          <p>
            If you are already register, <a href="{% url 'login' %}">Login</a>
          </p>
        </div>
      </div>
    </form>
  </div>
</div>
<script>
  let inputFields = document.getElementsByTagName("input");
  inputFields[1].placeholder = "First Name";
  inputFields[2].placeholder = "Last Name";
  inputFields[3].placeholder = "Username";
  inputFields[4].placeholder = "Email address";
  inputFields[5].placeholder = "Enter Password";
  inputFields[6].placeholder = "Confirm Password";
  inputFields[7].placeholder = "City";
  inputFields[9].placeholder = "Address";
</script>
{% endblock body%}
